.cartas { 
    width: 100%;  
    display: contents;   
    text-align: center;
    align-items: center;
}  
.tarjeta{     
    text-align: center; 
}
.tarjeta img{
border-radius: 50px;
 width: 25%;
}

.tarjetaP{      
    text-align: center;  
}
.tarjetaP img{
    border-radius: 150px;
    width: 25%;
}

 
 

 @media only screen and (min-width: 600px) {
    .cartas { 
        width: 100%;   
        display: grid;
        grid-template-columns: 45% 45%;
        /* grid-template-rows: AUTO; */
        align-items: center;
        align-content: center;
        margin-left: 5%;
    }   
    .tarjetaP{  
        text-align: center;  
        border-radius: 30px;
        background-color: rgb(255, 255, 255); 
        width: 90%; 
        margin: 5%;
        border: solid 6px black;
    }
    .tarjetaP img{
        width: 30%;
    }
    .tarjeta{  
        text-align: center;  
        border-radius: 30px;
        background-color: rgb(255, 255, 255); 
        width: 90%; 
        margin: 5%;
        border: solid 6px black;
    }
    .tarjeta img{
        width: 30%;
       }
    .data {
        margin: 3%;
        display: grid;
        grid-template-columns: 45%;
        /* grid-template-rows: AUTO; */
    }

    .item {
        display: flex;
    }
 
 }
